ion-content {
  --background: #e9edf0;
}

.profilePicture {
  max-height: 1250px;
  max-width: 125px;
  border-radius: 8px;
  border: 3px solid #8f8d8d;
  box-shadow: 0 0 5px gray;
}

.furryCard {
  border-radius: 8px;
  border: 3px solid #8f8d8d;
  box-shadow: 0 0 5px gray;
}

.profilePictureCol {
  max-width: fit-content;
}
